name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 21 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

      - name: Full-year calendar
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.isocalendar.fullyear.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

      - name: Recently starred
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.stars.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_stars: yes
          plugin_stars_limit: 3

      - name: My blog
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.rss.svg
          token: NOT_NEEDED
          base: ""
          plugin_rss: yes
          plugin_rss_source: https://chiyoyuki.uk/rss.xml
          plugin_rss_limit: 4

      # - name: Recent activity charts
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.habits.charts.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_habits: yes
      #     plugin_habits_facts: no
      #     plugin_habits_charts: yes
      #     config_timezone: Asia/Shanghai

      # - name: Compact display
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.achievements.compact.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_achievements: yes
      #     plugin_achievements_only: >-
      #       polyglot, stargazer, sponsor, deployer, member, maintainer, developer,
      #       scripter, packager, explorer, infographile, manager
      #     plugin_achievements_display: compact
      #     plugin_achievements_threshold: X


      # - name: Recent activity
      #   uses: lowlighter/metrics@latest
      #   with:
      #     filename: metrics.plugin.activity.svg
      #     token: ${{ secrets.METRICS_TOKEN }}
      #     base: ""
      #     plugin_activity: yes
      #     plugin_activity_limit: 5
      #     plugin_activity_days: 0
      #     plugin_activity_filter: issue, pr, release, fork, review, ref/create
